/**
 * Some placeholder SASS
 */

$body-bg: rgb(255, 255, 255);
$body-color: #111;
$display-4:rgb(37, 137, 189);

.my-container {
  max-width: 800px;
}

.footer {
  margin-bottom: 40px;
}

h3, .h3{
  color:$display-4;
}

body{
  background-color: $body-bg;
}

