/**
 * Some placeholder SASS
 https://coolors.co/ffffff-2b2d42-8d99ae-b02e0c-d90429
 */
@import url('https://fonts.googleapis.com/css?family=Jura|Cute+Font&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$body-color: #111;
$display-4:#4f4f4f;
$gray-100: #4f4f4f;

$gray: #4f4f4f;
$dark-gray: #fff;
$red:#4f4f4f;
$darker-red: #4f4f4f;
$white: white;

.my-container {
  max-width: 800px;
}

.carousel-caption h5{
  color: $white !important;
  background-color:rgba(50, 52, 77, 0.7) !important;
  padding:1rem !important;
}

.footer {
  margin-bottom: 40px;
}

.navbar-text, .navbar-brand, .nav-item, .nav-link{
  color:$white !important;
  font-family: 'Cute Font', cursive !important;
  font-size: 1.5rem !important;
}


.navbar-brand{
  color:$dark-gray !important;
}

.card{
  margin:1rem 0 !important;
  border: none !important;
  background: $white !important;
  color:$gray !important;
}

.jumbotron{
  background-color: $white !important;
}

.nav-link, .navbar-brand{
  font-size: 2rem !important;
}

.redGradientBg{
  width:100% !important;
  background-color: $red !important;
  margin-bottom:3rem !important;
  padding:3rem 0 !important;
}

#overrideMargin{
    margin-bottom:0 !important;
}

.blueGradientBg{
  width:100% !important;
  background-image: linear-gradient(to right,  #4f4f4f, #4f4f4f) !important;
  margin-bottom:3rem !important;
  padding:3rem 0 !important;
  color: $white !important;
}

.blueGradientBg .col-8{
  border-right: 0.1rem white solid !important;
}

.blueGradientBg .col button img{
  width:3rem !important;
}

.blueGradientBg .col button img:hover{
  filter: brightness(50%) !important;
}

.blueGradientBg .col button, .blueGradientBg .col button:focus{
  background: transparent !important;
  border: none !important;
}



body{
  background-color: $white !important;
  font-family: 'Jura', sans-serif !important;
}

.bg-light{
  background-image: linear-gradient(180deg,#4f4f4f,transparent)!important;
  background-color: transparent !important;
}

.navbar{
  position:absolute !important;
  width:100% !important;
}

.imageBtn{
  padding:0 !important;
  margin: 1rem !important;
  width:15rem;
  height:15rem;
  -webkit-transition: all 0.2s ease;
}

.imageBtn:hover{
    -webkit-filter: blur(0.1em);
}

#dood{
  margin-top:5rem;
  color: $white !important;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    *{
      font-size:5vmin !important;
    }
    .card {
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-bottom: 10px !important; /* Added */
        width:60vmin !important;
      }
      .table {
        width:60vmin !important;
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-left: -10vmin !important;
      }

}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    *{
      font-size:5vmin !important;
    }
    .card {
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-bottom: 10px !important; /* Added */
        width:60vmin !important;
      }
      .table {
        width:60vmin !important;
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-left: -10vmin !important;
      }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    *{
      font-size:5vmin !important;
    }
    .card {
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-bottom: 10px !important; /* Added */
        width:60vmin !important;
      }
      .table {
        width:60vmin !important;
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-left: -10vmin !important;
      }
}
